<template data-sly-template.head="${ @ page }"
          data-sly-use.headlibRenderer="headlibs.html"
          data-sly-use.headResources="head.resources.html">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta charset="UTF-8">
    <title>${!properties.seoTitle ? page.title : properties.seoTitle}</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<sly data-sly-test.scheme="${request.scheme}"/>
    <sly data-sly-test.servername="${request.serverName}"/>
    <meta data-sly-test.keywords="${page.keywords}" name="keywords" content="${keywords}"/>
    <meta data-sly-test.description="${properties['description']}" name="description" content="${description}"/>
    <meta data-sly-test.templateName="${page.templateName}" name="template" content="${templateName}"/>
	<meta data-sly-test.ogSiteName="${properties['ogSiteName']}" property="og:site_name" content="${ogSiteName}"/>
	<meta data-sly-test.ogType="${properties['ogType']}" property="og:type" content="${ogType}"/>
    <meta data-sly-test="${!ogType}" property="og:type" content="website"/>   
    <meta data-sly-test.ogTitle="${properties['ogTitle']}" property="og:title" content="${ogTitle}"/>
    <meta data-sly-test="${!ogTitle}" property="og:title"
          content="${properties['pageTitle'] ? properties['pageTitle'] : page.title}"/>  
     <sly data-sly-test.ogImage="${properties.ogImage}">
		<meta property="og:image" content="${scheme}://${servername}${ogImage}">
	</sly>
    <sly data-sly-test="${!ogImage}">
		<sly data-sly-test.featureImage="${properties.featureImage}">
			<meta property="og:image" content="${scheme}://${servername}${featureImage}">
		</sly>
	</sly>
	<meta data-sly-test.ogImageType="${properties['ogImageType']}" property="og:image:type" content="${ogImageType}"/>
    <meta data-sly-test.ogImageWidth="${properties['ogImageWidth']}" property="og:image:width"
          content="${ogImageWidth}"/>
    <meta data-sly-test.ogImageHeight="${properties['ogImageHeight']}" property="og:image:height"
          content="${ogImageHeight}"/>
    <meta data-sly-test.ogDescription="${properties['ogDescription']}" name="og:description"
          content="${ogDescription}"/>
	<meta property="og:url" content="${scheme}://${servername}${currentPage.path}.html"/>
    <meta data-sly-test.noindex="${properties['noIndex']}" name="robots" content="${noindex}"/>
    <sly data-sly-include="head.socialmedia.html"></sly>
    <sly data-sly-include="customheaderlibs.html"></sly>
    <sly data-sly-call="${headlibRenderer.headlibs @
    designPath                = page.designPath,
    staticDesignPath          = page.staticDesignPath,
    clientLibCategories       = page.clientLibCategories,
    clientLibCategoriesJsHead = page.clientLibCategoriesJsHead,
    hasCloudconfigSupport     = page.hasCloudconfigSupport}"></sly>
    <sly data-sly-test.appResourcesPath=${page.appResourcesPath} data-sly-call="${headResources.favicons @ path = page.appResourcesPath}"></sly>
</template>
